.game {
    width: 600px;
    height: 200px;
    border: 1px solid black;
    margin:auto;
    position: relative;
    top: 25vh;
}

#score{
    text-align: center;
}

#dino {
    width: 50px;
    height: 50px;
    background-image: url(./dino-stationary.png); 
    background-size: 50px 50px; 
    position: relative;
    top: 150px;
}

#cactus {
    width: 20px;
    height: 40px;
    position: relative;
    top: 110px;
    left: 580px;

    background-image: url(./cactus.png);
    background-size: 20px 40px;

    animation: attack 2s infinite linear;
}

.dino-highscore {
    position: absolute;
    margin: 0 auto;
    padding: 1rem;
    border-radius: .3rem;
}

.dino-jump-btn {
    position: absolute;
    top: 100%;
    right: 50%;
    display: flex;
    margin: 0 auto;
    background: red;
    padding: 1rem;
    text-align: center;
    border-radius: .3rem;
}

.dino-start-btn {
    position: absolute;
    top: 100%;
    left: 50%;
    display: flex;
    margin: 0 auto;
    background: red;
    padding: 1rem;
    text-align: center;
    border-radius: .3rem;
}

.jump {
    animation: jump 0.4s linear;
}

@keyframes attack {
    0%{
        left: 580px;
    }

    100%{
        left: -20px;
    }
}

@keyframes jump {
    0% {
        top:150px;
    }
    50% {
        top: 40px;
    }
    100%{
        top: 150px;
    }
    
}
