* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: white;
  height: 100%;
  max-height: 100vh;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1;
  font-family: "Pixelify Sans";
}

a:link:visited {
  color: aliceblue;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

input,
select,
option,
optgroup,
textarea,
button,
pre,
code {
  font-size: 100%;
  font-family: inherit;
}

ol,
ul {
  list-style: none;
}

/* ///////// */
/* games.jsx */
/* ///////// */

.game-card-center {
  display: flex;
  margin: 0 auto;
  width: 90%;
  max-width: 1550px;
}

@media screen and (width <= 900px) {
  .game-card-center {
    width: 100%;
  }
}

.single-game {
  text-align: center;
  background: rgb(241, 241, 241);
  max-height: 300px;
  width: 100%;
  max-width: 1600px;
  margin: 4rem 0;
  box-shadow: 0px 0px 10px 2px rgb(46, 46, 46);
}

.hero{
  width: 100%;
  max-width: 1600px;
}

@media screen and (width >= 1600px) {
  .hero {
    display: flex;
    margin: 0 auto;
  }
}

footer {
  text-align: center;
  position: relative;
  bottom: 0;
}

.main-play-btn {
  background-color: red;
  padding: 1rem;
  border: 1ps solid grey;
}

.games-flex-direction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.game-tag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.game-name-tag {
  margin: 1rem;
  font-size: 4rem;
}

.game-img {
  background-color: rgb(241, 241, 241);
  display: flex;
  align-items: start;
  height: 300px;
}

@media screen and (width >= 801px) {
  .game-img {
  mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,.8), rgba(0,0,0,.6), rgba(0,0,0,.4), rgba(0,0,0,0) );
  }
}

@media screen and (width <= 800px) {
  .single-game {
    margin: 12rem 0;
  }
  .games-flex-direction {
    flex-direction: column
  }
}

@media screen and (width <= 400px) {
  .game-name-tag {
    font-size: 3rem;
  }
}


/* ////////// */
/* header.jsx */
/* ////////// */

.header-logo {
  border-right: 2px solid red;
  z-index: 999;
  max-height: 100%;
  width: auto; 
  position: absolute;
  top: 0; 
  left: 0;
}

.header-logo:hover {
  cursor: pointer;
}

.header-tag {
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, .4);
  position: fixed;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  border-bottom:2px solid red;
  min-height: 34px;
}

@media screen and (width <= 605px) {
  .header-tag {
    justify-content: end;
    min-height: 34px;
  }
}

@media screen and (width <= 495px) {
  .header-tag {
    font-size: 1.7rem;
    min-height: 26px;
  }
}

@media screen and (width <= 440px) {
  .header-tag {
    font-size: 1.35rem;
    min-height: 21px;
  }
}

.header-elem-position {
  font-size: 2rem;
}

.header-login {
  position: absolute;
  color: white;
  right: 3%;
  margin: 1rem;
  border-radius: .2rem;
  margin-top: 5vh;
  padding: .5rem;
}

.header-donate {
  position: absolute;
  color: white;
  right: 15%;
  margin: 1rem;
  border-radius: .2rem;
  margin-top: 5vh;
  padding: .5rem;
}

@media screen and (width <= 1100px) {
  .header-donate {
    right: 25%;
  }
  .header-login {
    
  }
}

@media screen and (width <= 750px) {
  .header-donate {
    right: 30%;
  }
}

@media screen and (width <= 750px) {
  .header-donate {
    right: 30%;
  }
}

@media screen and (width <= 550px) {
  .header-donate {
    right: 35%;
  }
}

@media screen and (width <= 450px) {
  
  .header-login {
    right: 0;
  }
}

.header-donate::after, .header-login::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 5px;
  background: red;
  transform: scale(0);
  transition: .2s all ease-out;
}

.header-donate:hover::after, .header-login:hover::after {
  cursor: pointer;
  transform: scale(1);
}

header {
  height: 10vh;
  min-height: 80px;
  position: absolute;
  width: 100%;
  backdrop-filter: blur(10px);
  background-color: rgba(51, 51, 51, .4);
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-image: linear-gradient(to top, red, rgba(255,0,0,0))1 100%;
}

/* LOGIN/OUT MODAL */

.exit-btn {
  position: absolute;
  padding: 1rem 1.25rem;
  top: -35px;
  right: -30px;
  background: white;
  color: red;
  font-weight: 700;
  font-size: 2rem;
  border-radius: 50%;
  width:fit-content;
  border: 2px solid  rgb(35, 35, 70);
  box-shadow: -1px 3px 10px 2px #333;
  transition: .2s;
}

.exit-btn:hover {
  cursor: pointer;
  background: rgb(223, 223, 223);
  font-size: 2.2rem;
}

.exit-btn:hover:active {
  background: rgb(190, 190, 190);
  font-size: 2rem;
}

.login-card {
  z-index: 1000;
  height: 35%;
  color: #333;
  position: fixed;
  display: flex;
  align-items: center;
  margin: auto;
  left: 0;
  right: 0;
  top: -40%;
  border-radius: 1rem;
  width: 25%;
  max-width: 600px;
  min-height: 400px;
  min-width: 360px;
  border: 3px solid  rgb(35, 35, 70);
  padding: 2rem;
  background: white;
  transition: top 0.5s;
}

.blur-back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  backdrop-filter: blur(0px);
  z-index: 999;
}

.card-elem-pos {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.loginout-input-style {
  margin: 1rem;
  border:1px solid rgb(35, 35, 70);
  border-radius: .2rem;
}

.loginout-title {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.input-example {
  font-size: 1.3rem;
  margin: .5rem;
}

#signIn, #signUp {
  padding: .3rem 1rem;
  background-color: rgb(35, 35, 70);
  color: white;
  border-radius: .5rem;
  margin-bottom: 1rem;
}

#signInForm {
  color: purple;
}

#signInForm:hover {
  text-decoration: underline;
}

/* header */

